* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #354259;
}

body,
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background-color: #C2DED1;
}

/* HEADER */

.header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 150px;
    width: 100%;
    border-bottom: solid 2px #354259;
}

h1 {
    position: absolute;
    font-size: 2rem;
    right: calc(50% + 380px);
    width: 70px;
    word-break: break-all;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 5px;
}

.button_wraper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    width: 600px;
    padding: 0 15px;
}

.player_div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.header_button {
    margin-top: 4px;
    margin-bottom: 4px;
    width: 100px;
    height: 30px;
    border-radius: 15px;
    border: solid 2px #354259;
    background-color: #C2DED1;
    font-weight: 600;
    font-size: 1rem;
}

.header_button:hover {
    transform: scale(105%);
}

.pressed {
    background-color: #354259;
    color: #C2DED1;
}

.announcer {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    font-weight: 600;
    text-align: center;
    white-space: pre-wrap;
    line-height: 2rem;
    padding: 0 15px;
}

/* GAMEBOARD */

.gameboard {
    display: grid;
    grid: repeat(3, 1fr) / repeat(3, 1fr);
    width: min(600px, 100%);
    height: min(600px, 100vw);
    gap: 3px;
    background-color: #354259;
}

.cell {
    background-color: #C2DED1;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Varela Round', sans-serif;
    font-size: 10rem;
    
}

@media only screen and (max-width: 1080px){
    .cell {
        font-size: 6rem;
    }
}